<h1> Celtics Game Details </h1>

Date: <%= @game.readable_datetime %><br>
Opponent: <%= @game.opponent %><br>
Home/Away: <%= @game.home ? "Home" : "Away" %><br>

Player Boxscores:
<ul>
  <% @game.players.each do |player| %>
    <%= link_to player.name, boxscore_path(player.boxscores.find_by(game_id: @game.id)) %><br>
  <% end %>
</ul>

<%= form_for @game do |f| %>
  <%= button_to "Delete Game?", @game, :method => :delete %>
<% end %>
